body {
    background-color: #fae1cb;
}

.neighbor {
    position: absolute;
    width: 500px;
    height: 500px;
    background-color: white;    
    
    top: 25%;
    left: 25%;

    transform: rotate(-30deg) skewX(25deg) translate(0,0);

    box-shadow: -20px 20px 10px rgba(0,0,0,0.5);

    content: ''
}

.neighbor::before {

    position: absolute;
    top: 10px;
    left: -20px;
    height: 100%;
    width: 20px;
    background: #b1b1b1;

    transform: rotate(0deg) skewY(-45deg);

    content: '';
}

.neighbor::after {

    position: absolute;
    bottom: -20px;
    left: -10px;
    height: 20px;
    width: 100%;
    background: #b1b1b1;

    transform: rotate(0deg) skewX(-45deg);

    content: '';
}