.building {
    position: absolute;
    display: block;
    background-color: transparent;
    width: 50px;
    height: 50px;
    bottom: 75%;    
    content: '';
    transform: rotateZ(-90deg);
    z-index: 1;    
}

.selected {
    box-shadow: 0 0 0 3.5px #b85f37;
    border: 0px !important;
}

.building .base {
    position: absolute;
    background-color: #474645;     
    top: -5px;
    left: -5px;
    width: 58px;
    height: 58px;
    border-left: 1px solid white;
    border-bottom: 1px solid white;
    content: '';    
}

.building .roof {
    position: absolute;
    background-color: #d38d68; 
    /* border: 1px solid green; */
    width: 50px;
    height: 50px;
    content: '';    
}

.building .roof:hover{
    cursor: pointer;
}