.init {
    position: absolute;
    margin-top: 25px;
    width: 100%;
    text-align: center;    
}

.init .button {
    background-color: transparent !important;
    border-color: #79503a;
    color: #79503a;
    padding: 5px;
    font-size: 14px;
    box-shadow: 0;
    width: 125px;
}

.init .button:hover {
    background-color: #eedfd7 !important;
    border-color: #79503a;
    color: #79503a;
}
